*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body, html{
    height: 100vh;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card{
height: 300px;
background-color: #e94597;
border-radius: 20px;
display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border: 1px solid #999;
}
img{
 background-image: url("img/10457504.jpg");
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
}
.contact-btn {
    background-color: #e793bd;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
  }
  .contact-btn:hover{
    background-color: rgb(207, 31, 128);
 
}
  .name{
    font-size: 18px;
    color: #fff;
}
.job-title{
    font-size: 14px;
    color: #f1abdc;
}
 
.description{
    line-height: 18px;
    text-align: center;
    color: #f1abdc;
}
